{{#each comments}}
  {{#unless deleted}}
    <div class="comment-feed" id="comment_{{_id}}">
      <div class="comment-container">
        <div class="comment-panel" id="pfp">
          <img class="comment-icon" src="{{userId.user_image}}">
        </div>
        <div class="comment-panel" id="text">
          <div class="user-panel">
            <p class="user-name"><strong>{{userId.username}}</strong> • <span class="date">{{commentDate}}</span> {{#if edited}} | Edited{{/if}}</p>
            {{#if (sameLoggedProfile ../user.username userId.username)}}
              {{> edit-delete-comment-main}}
            {{/if}}
          </div>
          <p class="comment-text">{{commentText}}</p>
        <div class="post-footer">
            <div id="likes-bar-comment" class="react-bar likes-bar-comment">
                <input type="image" class="like" id="no-like" src="../common/svg/thumbs-up-stroke.svg">
                <input type="image" class="like" id="with-like" src="../common/svg/thumbs-up.svg">
                <p id="like-counter" class="counter">{{likes.length}}</p>
            </div>
            <div id="dislikes-bar-comment" class="react-bar dislikes-bar-comment">
                 <input type="image" class="dislike" id="no-like" src="../common/svg/thumbs-up-stroke.svg">
                <input type="image" class="dislike" id="with-like" src="../common/svg/thumbs-up.svg">
                <p id="dislike-counter" class="counter">{{dislikes.length}}</p>
            </div>
            <div id="comments-bar" class="react-bar">
                <input type="image" class="comment" src="../common/svg/comment.svg">
                <p id="comment-counter" class="counter">{{replies.length}}</p>
            </div>
        </div>
        </div>
      </div>
      {{#if replies.length}} 
        <div class="divider"></div>
      {{/if}}
    </div>
    {{#if ../reply.length}}
      {{> replies reply=../reply user=../user}}
    {{/if}}
  {{/unless}}
{{/each}}