{{#each comments}}
  {{#unless deleted}}
    <div class="comment-feed">
      <div class="comment-container">
        <div class="comment-panel" id="pfp">
          <img class="comment-icon" src="{{userId.user_image}}">
        </div>
        <div class="comment-panel" id="text">
          <div class="user-panel">
            <p class="user-name"><strong>{{userId.username}}</strong> • <span class="date">{{commentDate}}</span> {{#if edited}} | Edited{{/if}}</p>
            {{#if (sameLoggedProfile ../user.username userId.username)}}
              {{> edit-delete-comment-main}}
            {{/if}}
          </div>
          <p class="comment-text">{{commentText}}</p>
          <div class="post-footer">
            <div id="likes-bar" class="react-bar">
              <input type="image" class="like" src="../common/svg/thumbs-up-stroke.svg">
              <p id="like-counter" class="counter">{{likes}}</p>
            </div>
            <div id="dislikes-bar" class="react-bar">
              <input type="image" class="dislike" src="../common/svg/thumbs-up-stroke.svg">
              <p id="dislike-counter" class="counter">{{dislikes}}</p>
            </div>
            <div id="comments-bar" class="react-bar">
              <input type="image" class="comment" src="../common/svg/comment.svg">
              <p id="comment-counter" class="counter">{{replies}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/unless}}
{{/each}}