{{#each reply}}
  {{#unless deleted}}
    {{#if (sameCommentId ../_id commentId._id)}}
      <div class="reply-feed">
        <div class="reply-container">
          <div class="comment-panel" id="pfp">
            <img class="comment-icon" src="{{userId.user_image}}">
          </div>
          <div class="comment-panel" id="text">
            <div class="user-panel">
              <p class="user-name"><strong>{{{userId.username}}}</strong> • <span class="date">{{replyDate}}</span> {{#if edited}} | Edited{{/if}}</p>
              {{#if (sameLoggedProfile ../user.username userId.username)}}
                {{> edit-delete-reply-main}}
              {{/if}}
            </div>
            <p class="reply-text">{{{replyText}}}</p>
          <div class="post-footer">
              <div id="likes-bar" class="react-bar likes-bar">
                  <input type="image" class="like" id="no-like" src="../common/svg/thumbs-up-stroke.svg">
                  <input type="image" class="like" id="with-like" src="../common/svg/thumbs-up.svg">
                  <p id="like-counter" class="counter">{{likes.length}}</p>
              </div>
              <div id="dislikes-bar" class="react-bar dislikes-bar">
                  <input type="image" class="dislike" id="no-like" src="../common/svg/thumbs-up-stroke.svg">
                  <input type="image" class="dislike" id="with-like" src="../common/svg/thumbs-up.svg">
                  <p id="dislike-counter" class="counter">{{dislikes.length}}</p>
              </div>
              <!--<div id="comments-bar" class="react-bar">
                  <input type="image" class="comment" src="../common/svg/comment.svg">
                  <p id="comment-counter" class="counter">{{comments.length}}</p>
              </div>-->
          </div>
          </div>
        </div>
          <div class="divider">           
            </div>
      </div>
    {{/if}}
  {{/unless}}
{{/each}}