{{> navigation}}

<div class="feed">
  <div class="artist-overview">
    <div class="aritst-pic-container">
      <img class="artist-pic" src="{{{ artistImg }}}">
    </div>
    <div class="artist-info">
      <div class="artist-name">{{{ artistname }}}</div>
      <p class="artist-genre"><b>Genres</b></p>
      <div class="tags-area">
{{#each genres}}
        <div class="tag">
          <p>{{this}}</p>
        </div>
{{/each}}
      </div>
      <br>
    </div>
  </div>
  <div class="discog-header-container">
    <div class="discog-header">
      <h1>Discography</h1>
      <div class="discog-header-details">
        <p class="title-header"> Title / Release Date</p>
        <div class="empty-box"></div>
        <div class="empty-box"></div>
        <div class="empty-box"></div>
        <div class="empty-box"></div>
        <div class="empty-box"></div>
        <div class="empty-box"></div>
        <div class="empty-box"></div>
        <p class="reviews-header">Reviews</p>
        <p class="reviews-header">Average</p>
      </div>
    </div>
  </div>
  {{#each albums}}
  <div class="album-container">
    <div class="album-panel">
      <div class="album-image">
        <img src="{{{ images.1.url }}}">
      </div>
      <div class="album-title-date-container">
        <span class="album-title"><a href="/album-{{ name }}" class="album-link">{{{ name }}}</a></span>
        <span class="album-date">{{{ release_date }}}</span>  
      </div>
      <div class="album-metrics">
        <div class="album-reviews">{{{ reviews }}}</div>
        {{#if average}}
        <div class="album-average">{{{ average }}}</div>
        {{else}}
        <div class="album-average">0</div>
        {{/if}}
      </div>
    </div>
  </div>
{{/each}} 
     
</div>