{{> navigation}}
  <div class="feed">
    <form name="update-post" action="/update-post/{{post_data._id}}" method="post">
      <div class="post">
          <div class="panel" id="select-album">
              <img class="cover" src="{{post_data.cover}}">
          </div>
          <div class="panel">
              <p class="label">Edit Post</p>
              <div class="artist-label">
                  <p class="song-album-title">{{post_data.trackName}}</p>
                  <p class="artist">{{post_data.artist}}</p>
              </div>
              <div class="box-title">
                  <input class="title-area" type="text" value="{{post_data.title}}" name="title">
              </div>
                <div class="box-post">
                    <div class="box-header">
                        <div class="bold">B</div>
                        <div class="italics">&nbsp;I&nbsp;</div>
                        <div class="underline">U</div>
                        <div class="strikethrough">S</div>
                        <div class="markdown">Markdown Mode</div>
                    </div>
                    <textarea id="postText" name="postText">{{post_data.postText}}</textarea>
                </div>
              <div class="bottom-label">
                  <div class="rating-label">
                      Rating
                      <div class="rate">
                        <input type="radio" id="star5" name="rating" value="5" {{#if (checkSelectedRating post_data.rating 5)}} checked {{/if}}/>
                        <label for="star5" class="fas fa-star" title="5"></label>
                        <input type="radio" id="star4" name="rating" value="4" {{#if (checkSelectedRating post_data.rating 4)}} checked {{/if}}/>
                        <label for="star4" class="fas fa-star" title="4"></label>
                        <input type="radio" id="star3" name="rating" value="3" {{#if (checkSelectedRating post_data.rating 3)}} checked {{/if}}/>
                        <label for="star3" class="fas fa-star" title="3"></label>
                        <input type="radio" id="star2" name="rating" value="2" {{#if (checkSelectedRating post_data.rating 2)}} checked {{/if}}/>
                        <label for="star2" class="fas fa-star" title="2"></label>
                        <input type="radio" id="star1" name="rating" value="1" {{#if (checkSelectedRating post_data.rating 1)}} checked {{/if}}/>
                        <label for="star1" class="fas fa-star" title="1"></label>
                      </div>
                  </div>
                  <div class="tags-label">
                    Tags
                    <div class="tag-panel">
                      <input class="add-tag" type="text" id="input" placeholder="Enter genre . . ." name="tags" value="{{post_data.tag1}}, {{post_data.tag2}}, {{post_data.tag3}}">
                      <div class="tag-container">
                      </div>
                    </div>
                    <div class="tag-note">
                      Separate tags with a comma. Maximum of 3 tags only.
                    </div>
                  </div>
              </div>
            <div class="bottom-label">
              <div class="empty-box">
              </div>
              <div class="empty-box">
              </div>
              <div class="empty-box">
              </div>
              <button id="submit" class="submit-button" type="submit">Submit</button>
            </div>
          </div>
    </form>
  </div>