{{> navigation}}

<div id="edit-popup" class="edit-popup">
  <div class="edit-header">
    <img class="close-button" src="/common/png/x.png" onclick="closePopUp()">
    <p>Edit Profile</p>
    <button type="submit" class="save-button" onclick="closePopUp()">Save</button>
  </div>

  <div class="edit-banner">
    <img class="banner" src="{{profile_data.header_image}}">
    <img class="banner-pen" src="../png/pen.png">
  </div>

  <img class="profile-pen" src="/common/png/pen.png">
  <div class="edit-profile-picture">
    <img src="{{profile_data.user_image}}">
  </div>

  <div class="edit-details">
    <p>Display name</p>
    <div class="input-details">
      <input type="text" placeholder="Display name">
    </div>
  </div>

  <div class="edit-details">
    <p>Bio</p>
    <div class="input-details">
      <input type="text" placeholder="Bio">
    </div>
  </div>
</div>

<div class="profile-banner">
  <img src="{{profile_data.header_image}}"/>
</div>
<div class="profile">
  <div class="profile-section">
    <img src="{{profile_data.user_image}}"/>
    <div class="profile-elements">
      <div class="profile-info">
        <p id="username">{{profile_data.username}}</p>
        <p id="bio">{{profile_data.bio}}</p>
      </div>
      <button type="submit" class="edit-profile" onclick="openPopUp()">Edit Profile</button>
    </div>
  </div>
</div>


<div class="profile-feed">
  <div class="profile-options">
    <p>Posts</p>
    <p>Comments</p>
    <p>Likes</p>
  </div>

  <!-- RECENT POSTS -->
  {{#if post_data.length}}
    {{> profile-post}}
  {{else}}
    <p class="no-content">
      There's nothing 
      <br>
      here...
    </p>
  {{/if}}

  <!-- RECENT COMMENTS -->
  {{#each comment_data}}
  <div class="recent-comment">
    <div class="comment-body">
      <div class="comment-profile-picture">
        <img src="{{user_image}}">
      </div>
      <div class="comment-info">
        <p class="comment-status"><span class="comment-username">{{username}}</span> commented on <span class="comment-title">{{postTitle}}</span></p>
        <p class="comment-content">{{commentText}} </p>
      </div>
    </div>
  </div>
  {{/each}}
</div>