{{>navigation}}

<div class="feed">
    <div class="post" id="post_{{post_data._id}}">
        <div class="post-header">
            <img class="cover" src="{{post_data.cover}}">
            <div class="post-titles">
                <p class="song-album-title"><a href="/album-{{post_data.trackName}}-{{post_data.albumId}}">{{post_data.trackName}}</a></p>
                <p class="artist"><a href="/artist-page/{{post_data.artist}}-{{post_data.artistId}}">{{post_data.artist}}</a></p>
                <div class="rating">
                    {{{ratingStars post_data.rating}}}
                </div>
                <p class="user-reviewed">reviewed by <a href="/" class="user">{{post_data.user}}</a> on <span class="date">{{post_data.reviewDate}}
                    {{#if post_data.edited}} | Edited {{/if}}
                </span></p>
                <div class="tags-area">
                    <div class="tag">
                        <p>{{post_data.tag1}}</p>
                    </div>
                    <div class="tag">
                        <p>{{post_data.tag2}}</p>
                    </div>
                    <div class="tag">
                        <p>{{post_data.tag3}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-body">
            <p class="post-title">{{post_data.title}}</p>
            <p class="post-text">{{post_data.postText}}</p>
        </div>
        <div class="post-footer">
            <div id="likes-bar" class="react-bar likes-bar">
                <input type="image" class="like" id="no-like" src="../common/svg/thumbs-up-stroke.svg">
                <input type="image" class="like" id="with-like" src="../common/svg/thumbs-up.svg">
                <p id="like-counter" class="counter">{{post_data.likes.length}}</p>
            </div>
            <div id="dislikes-bar" class="react-bar dislikes-bar">
                 <input type="image" class="dislike" id="no-like" src="../common/svg/thumbs-up-stroke.svg">
                <input type="image" class="dislike" id="with-like" src="../common/svg/thumbs-up.svg">
                <p id="dislike-counter" class="counter">{{post_data.dislikes.length}}</p>
            </div>
            <div id="comments-bar" class="react-bar">
                <input type="image" class="comment" src="../common/svg/comment.svg">
                <p id="comment-counter" class="counter">{{post_data.comments.length}}</p>
            </div>
        </div>

        <!-- COMMENTS SECTION -->
        {{#if user}}
        <div class="comment-section">
            <div class="comment-label">
                <p>commenting as</p>
            </div>
            <div class="comment-user">
                <p>{{user.username}}</p>
            </div>
        </div>
        <textarea placeholder="Write a comment"></textarea>

        <div class="comment-footer">
            <div class="comment-submit">
                <p class="comment-button">Comment</p>
            </div>
        </div>
        {{/if}}

    <!-- COMMENT CONTAINER -->
  <div id="comments-area">
    {{#if comments.length}}
      {{> comments}}
    {{else}}
      <p class="no-content">
        There's nothing here...
      </p>
    {{/if}}
  </div>
</div>
