{{> navigation}}

{{!-- <!-- POST -->
<div class="feed">
    <div class="post">
        <div class="post-header">
            <img class="cover" src="{{cover}}">
            <div class="post-titles">
                <p class="song-album-title"><a href="{{trackLink}}">{{trackName}}</a></p>
                <p class="artist"><a href="{{artistLink}}">{{artist}}</a></p>
                <div class="rating">
                    {{{ratingStars rating}}}
                </div>
                <p class="user-reviewed">reviewed by <a href="{{userLink}}" class="user">{{user}}</a> on <span class="date">{{reviewDate}}</span></p>
                <div class="tags-area">
                    <div class="tag">
                        <p>{{tag1}}</p>
                    </div>
                    <div class="tag">
                        <p>{{tag2}}</p>
                    </div>
                    <div class="tag">
                        <p>{{tag3}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="post-body">
            <p class="post-title">
            </p>
            <p class="post-text">
            </p>
        </div>
        <div class="post-footer">
            <div id="likes-bar" class="react-bar">
                <input type="image" class="like" src="../common/svg/thumbs-up-stroke.svg">
                <p id="like-counter" class="counter">{{likes}}</p>
            </div>
            <div id="dislikes-bar" class="react-bar">
                <input type="image" class="dislike" src="../common/svg/thumbs-up-stroke.svg">
                <p id="dislike-counter" class="counter">{{dislikes}}</p>
            </div>
            <div id="comments-bar" class="react-bar">
                <input type="image" class="comment" src="../common/svg/comment.svg">
                <p id="comment-counter" class="counter">{{comments}}</p>
            </div>
        </div>

        <!-- COMMENTS SECTION -->
        <div class="comment-section">
            <div class="comment-label">
                <p>commenting as</p>
            </div>
            <div class="comment-user">
                <p>{{user.username}}</p>
            </div>
        </div>
        <textarea placeholder="Write a comment"></textarea>

        <div class="comment-footer">
            <div class="comment-submit">
                <p class="comment-button">Comment</p>
            </div>
        </div>

        <div class="comment-feed">
            //comments
        </div>
    </div>
</div>

<div class="comment-section">
    <div class="comment-label">
        <p>replying to</p>
    </div>
    <div class="comment-user">
        <p>hannipham</p>
    </div>
</div>
<textarea placeholder="Write a comment"></textarea>
<div class="comment-footer">
    <div class="comment-submit">
        <p class="comment-button">Reply</p>
    </div>
</div> --}}
